<ion-header>
    <ion-navbar color="primary">
        <ion-title class="center">CP: {{product.code}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="center">
        <img [src]="product.image">
        <h6> {{product.name}} </h6>
    </div>
    <div class="mover">
        <p>Precio: <b> ${{ product.precio}} MXN</b> </p>
        <p>Código: <b> {{ product.code }} </b> </p>
    </div>
</ion-content>