<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title">Lista de ventas</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  <ion-buttons right>
    <button ion-button icon-only>
      <ion-icon name="cart"></ion-icon>
      <ion-badge item-end class="badge">3</ion-badge>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <p class="center"> SUCURSAL A RECOGER: <b>CUCEI</b></p>
    <ion-card>
        <ion-list>
          <ion-item *ngIf="orders.length == 0">
            No hay productos agregados
          </ion-item>
          <ion-item *ngFor="let order of orders; let i = index ">
            <ion-thumbnail item-left>
              <img [src]="order.image">
            </ion-thumbnail>
            <h2>{{ order.name }}</h2>
            <p>Precio: <b>{{ order.precio }} bs. </b> </p> 
            <p>Cantidad: <b>{{ order.count }} </b> </p>  
            <p> <b>${{ order.count * order.precio }} MXN</b></p>
          </ion-item>
        </ion-list>
      </ion-card>

      <p class="center"><b>CUCSH</b></p>
      <ion-card>
          <ion-list>
            <ion-item *ngIf="orders.length == 0">
              No hay productos agregados
            </ion-item>
            <ion-item *ngFor="let order of orders; let i = index ">
              <ion-thumbnail item-left>
                <img [src]="order.image">
              </ion-thumbnail>
              <h2>{{ order.name }}</h2>
              <p>Precio: <b>{{ order.precio }} bs. </b> </p> 
              <p>Cantidad: <b> {{ order.count }} </b> </p>  
              <p> <b>${{ order.count * order.precio }} MXN</b></p>
            </ion-item>
          </ion-list>
        </ion-card>

</ion-content>
<ion-footer padding>
    <button block ion-button color="primary" (click)="addOrder()">
      Total: (${{ total }} MXN)
    </button>
  </ion-footer>
