<ion-header>
  <ion-navbar color="primary">
    <ion-title class="center">SUBSIDIARIAS</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showSearch()">
      <ion-icon name="md-search"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary" *ngIf="search == 1" >
    <ion-searchbar debounce="400" showCancelButton="true" (input)="search($event)" [(ngModel)]="myInput"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p><b> Ciudad de México </b></p> <!-- COCHABAMBA es CUCEI -->
  <ion-list>
    <ion-item *ngFor="let sucursal of listSucursal; let i = index;" (click)="clickSucursal(sucursal)">
      <ion-badge [color]="sucursal.color" item-start>{{ i + 1 }}</ion-badge> 
      <h2 text-wrap> <b>{{ sucursal.name }} </b></h2>
      <h6>{{ sucursal.direccion }}</h6>
    </ion-item>
  </ion-list>
  <p><b> CUCSH </b></p> <!-- LA PAZ es CUCSH -->
  <ion-list>
      <ion-item *ngFor="let sucursal of listSucursal; let i = index;" (click)="clickSucursal(sucursal)">
        <ion-badge [color]="sucursal.color" item-start>{{ i + 1 }}</ion-badge> 
        <h2 text-wrap> <b>{{ sucursal.name }} </b></h2>
        <h6>{{ sucursal.direccion }}</h6>
      </ion-item>
  </ion-list>
  <p><b> CUCEA </b></p> <!-- SANTA CRUZ es CUCEA -->
  <ion-list>
      <ion-item *ngFor="let sucursal of listSucursal; let i = index;" (click)="clickSucursal(sucursal)">
        <ion-badge [color]="sucursal.color" item-start>{{ i + 1 }}</ion-badge> 
        <h2 text-wrap> <b>{{ sucursal.name }} </b></h2>
        <h6>{{ sucursal.direccion }}</h6>
      </ion-item>
  </ion-list>

  <p><b> CUTONALÁ </b></p> <!-- SUCRE es CUTONALA -->
  <ion-list>
      <ion-item *ngFor="let sucursal of listSucursal; let i = index;" (click)="clickSucursal(sucursal)">
        <ion-badge [color]="sucursal.color" item-start>{{ i + 1 }}</ion-badge> 
        <h2 text-wrap> <b>{{ sucursal.name }} </b></h2>
        <h6>{{ sucursal.direccion }}</h6>
      </ion-item>
  </ion-list>

</ion-content>

<div class="item-detail" *ngIf="itemSelected !== null">
  <ion-row align-items-center>
      <ion-col col-4>
          <button color="secondary" ion-button block icon-only (click)="showSucursal()">
            <ion-icon name="eye"></ion-icon>
          </button>
          <p text-center>Ver sucursal</p>
        </ion-col>
    <ion-col col-4>
      <button color="primary" ion-button block icon-only (click)="showOrder()">
        <ion-icon name="md-clipboard"></ion-icon>
      </button>
      <p text-center>Registrar venta</p>
    </ion-col>
    <ion-col col-4>
      <button color="royal" ion-button block color="danger" icon-only (click)="closeOptions()">
        <ion-icon name="close"></ion-icon>
      </button>
      <p text-center>Cerrar</p>
    </ion-col>
  </ion-row>
</div>
