<ion-header>
    <ion-navbar color="primary">
      <ion-title class="title">LISTA DE PEDIDOS</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="close()">
            <ion-icon name="close"></ion-icon>
          </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
          <ion-card>
              <ion-list>
                <ion-item *ngIf="products.length == 0">
                  No hay productos agregados
                </ion-item>
                <ion-item *ngFor="let product of products; let i = index " (click)="showActionSheet(product, i)">
                  <ion-thumbnail item-left>
                    <img [src]="product.image">
                  </ion-thumbnail>
                  <h2>{{product.name}}</h2>
                  <p>Precio: <b>${{ product.precio}} MXN</b> </p> 
                  <p>Cantidad: <b> {{product.count}} </b> </p>  
                  <p><b>${{product.count * product.precio}} MXN</b></p>
                </ion-item>
              </ion-list>
            </ion-card>
  </ion-content>
  <ion-footer padding>
    <button block ion-button color="primary" (click)="addOrder()">
      (${{ total }}MXN) Finalizar pedido
    </button>
  </ion-footer>
