<ion-header>
  <ion-navbar color="primary">
    <ion-title>NOTICIAS</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
      <ion-icon name="cart"></ion-icon>
      <!-- <ion-badge *ngIf="productsOrder.length != 0" item-end class="badge" >{{ productsOrder.length }}</ion-badge> -->
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager autoplay="4000">
    <ion-slide>
        <h5><b> Promoción UDGelatinas </b></h5>
      <div class="crop-image">
        <img src="http://www.pilandina.com.bo/wp-content/uploads/2017/09/promo-pixhelados.jpg" (click)="verSlide()" />
      </div>
      <div class="info">
        <p>
          Compra 10 gelatinas marca UDG <br> ¡y te regalaremos la onceava!
        </p>
        <button small ion-button clear>
          Ver más...
        </button>
      </div>
    </ion-slide>
    <ion-slide>
      <h5><b>¡Se acerca el buen fin! </b> </h5>
      <div class="crop-image">
        <img src="http://www.pilandina.com.bo/wp-content/uploads/2016/08/helaticones-pil-540x540.jpg" />
      </div>
      <div class="info">
        <p>
          No falta mucho para el Buen Fin. <br> Conoce lo que tenemos preparado en UDG-Mart.
        </p>
        <button small ion-button clear>
          Ver más...
        </button>
      </div>

    </ion-slide>
    <ion-slide>
      <h5> <b>Gana una Raspberry Pi </b></h5>
      <div class="crop-image">
        <img src="http://www.pilandina.com.bo/wp-content/uploads/2017/09/promo-pixhelados.jpg" />
      </div>
      <div class="info">
        <p>
          En la compra de 10 microondas, podrás <br>participar para ganar una Raspberry Pi.
        </p>
        <button small ion-button clear>
          Ver más...
        </button>
      </div>


    </ion-slide>
  </ion-slides>

</ion-content>
