<ion-header>
  <ion-navbar color="primary">
    <ion-title class="center">CP: {{product.code}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="center">
    <div class="center">
        <img [src]="product.image">
        <h6> {{product.name}} </h6>
    </div>
  <ion-grid class="center">
    <ion-row align-items-center no-margin no-padding >
        <ion-col col-6  style='margin-left: 90px; padding-left: 25px;'>
            <p>Precio: <b>${{ product.precio}} MXN</b> </p>
            <ion-item style='padding-left: 25px;'>
                <ion-label>Cantidad:</ion-label>
                <ion-input type="number" min="0" value="{{product.count}}" #box (keyup)="onKey(box.value)">{{value}}</ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  <div class="padding">
    <button ion-button color="primary" round block (click)="save()">
        (${{box.value * product.precio}} MXN) Aceptar</button>
  </div>
</ion-content>