<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title">Mapa de sucursales</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopoverDep($event)">
        <ion-icon name="options"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showList()">
        <ion-icon name="md-paper"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div id="map"></div>
  <ion-scroll scrollY="true" class="scroll">
  </ion-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-list class="mylist">
      <button ion-item (click)="presentPopover($event)">
        Habilitadas
        <ion-badge item-end color="secondary">4</ion-badge>
      </button>
    </ion-list>

    <ion-list class="mylist2">
      <button ion-item (click)="showList()">
        No Habilitadas
        <ion-badge item-end>20</ion-badge>
      </button>
    </ion-list>
  </ion-toolbar>
</ion-footer>

<div class="item-detail" *ngIf="itemSelected !== null">
  <ion-row align-items-center>
    <ion-col col-4>
      <button color="secondary" ion-button block icon-only (click)="showSucursal()">
        <ion-icon name="eye"></ion-icon>
      </button>
      <p text-center>Ver sucursal</p>
    </ion-col>
    <ion-col col-4>
      <button color="primary" ion-button block icon-only (click)="showOrder()">
        <ion-icon name="md-clipboard"></ion-icon>
      </button>
      <p text-center>Registrar venta</p>
    </ion-col>
    <ion-col col-4>
      <button color="royal" ion-button block color="danger" icon-only (click)="closeOptions()">
        <ion-icon name="close"></ion-icon>
      </button>
      <p text-center>Cerrar</p>
    </ion-col>
  </ion-row>
</div>
