<ion-list>
  <ion-list-header>Sucursales Habilitadas:</ion-list-header>
  <button ion-item (click)="close('1')">CUCEI</button> 
  <button ion-item (click)="close('2')">CUCEA</button> 
  <button ion-item (click)="close('3')">CUCSH</button> 
  <button ion-item (click)="close('4')">CUAAD</button> 
</ion-list>
