<ion-header>
  <ion-navbar color="primary">
      <ion-searchbar debounce="400" showCancelButton="true" (input)="search($event)"></ion-searchbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="showOrder()">
      <ion-icon name="cart"></ion-icon>
      <ion-badge *ngIf="productsOrder.length != 0" item-end class="badge" >{{ productsOrder.length }}</ion-badge>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-margin no-padding>
    <ion-row no-margin no-padding>
      <ion-col text-center col-6 *ngFor="let product of productShow" col-md-3>
        <a class="product-cover" [class.ofert]="product.isOfert">
          <div class="cover" (click)="clickedProduct( product )" [class.selected]="getIsActive( product )" >
              <ion-icon name="checkmark-circle"></ion-icon>
            <img [src]="product.image" [alt]="product.name">
          </div>
          <h6>{{ product.name }}</h6>
          <p style="margin-top: 0px; margin-bottom: 5px;"> <b>CP:</b> {{ product.code }}  </p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><b>Precio: </b>${{ product.precio }} MXN</p>
          <button small ion-button clear (click)="detailProduct(product)" style="text-transform: capitalize;" >
            detalles...
          </button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="product-detail" *ngIf="productSelected !== null">
  <ion-row align-items-center class="load" *ngIf="showLoad">
    <ion-col text-center>
      <ion-spinner color="primary"></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-row align-items-center>
    <ion-col col-2>
      <img [src]="productSelected.image" alt="product">
    </ion-col>
    <ion-col col-4>
      <h5>{{ productSelected.name }}</h5>
      <span>{{ productSelected.code }}</span>
    </ion-col>
    <ion-col col-6>
      <ion-row align-items-center no-margin no-padding>
        <ion-col no-padding>
          <button small block ion-button icon-only color="primary" (click)="remove()">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button block clear (click)="showCountAlert( $event )">
            {{ productSelected.count }}
          </button>
        </ion-col>
        <ion-col no-padding>
          <button small block ion-button icon-only color="primary" (click)="add()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <button small block ion-button icon-left color="danger" (click)="close()">
        <ion-icon name="close"></ion-icon>
        Cerrar
      </button>
    </ion-col>
    <ion-col col-6>
      <button [disabled]="productSelected.count == 0" small block ion-button icon-left color="primary" (click)="addProduct()">
        <ion-icon name="clipboard"></ion-icon>
        Agregar a la compra
      </button>
    </ion-col>
  </ion-row>
</div>
